<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">


  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="800px">
      <mat-grid-tile>
        <div fxFlex *ngIf="selectedDish">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h3>{{selectedDish.name | uppercase}}</h3>
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{selectedDish.image}} alt={{selectedDish.name}}>
            <mat-card-content>
              <p>{{selectedDish.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-grid-tile>
      
     
    <mat-grid-tile>
      <!--
      <ul style="list-style-type:none;">
        <li>
          <p>{{comments[0].comm}}</p>
          <p>{{comments[0].puntuation}}</p>
          <p>--{{comments[0].author}} {{comments[0].date}} </p>
        </li>
        
        <li>
          <p>{{comments[1].comm}}</p>
          <p>{{comments[1].puntuation}}</p>
          <p>--{{comments[1].author}} {{comments[0].date}} </p>
        </li>

        <li>
          <p>{{comments[2].comm}}</p>
          <p>{{comments[2].puntuation}}</p>
          <p>--{{comments[2].author}} {{comments[0].date}} </p>
        </li>

        <li>
          <p>{{comments[3].comm}}</p>
          <p>{{comments[3].puntuation}}</p>
          <p>--{{comments[3].author}} {{comments[0].date}} </p>
        </li>
      </ul>
       -->
      <mat-nav-list>
        <h1>Comments</h1>
        <mat-list-item *ngFor="let comm of comments">
          <p>{{comm.comm}}</p>
          <p>{{comm.puntuation}}</p>
          <p>--{{comm.author}} </p>
          <p>{{comm.date}}</p>
        </mat-list-item>
      </mat-nav-list>
     
    </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>